body {
  margin: 0;
  font-family: "Montserrat",Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
  background: rgb(120,90,253);
  background: linear-gradient(45deg, rgba(120,90,253,1) 8%, rgba(118,204,254,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
